# Python
__pycache__/
*.py[cod]
*$py.class
.hypothesis/
.pytest_cache/
.coverage
venv/

# Mutmut
mutants/
.mutmut-cache

# OS
.DS_Store
Thumbs.db
*~
*.swp
.~lock.*

# Específicos do Projeto
internet_banking_tests/banking.db
internet_banking_tests/report.xml
internet_banking_tests/matriz_rastreabilidade.md
internet_banking_tests/backups/
*.pdf
*.png

Material-roteiro-17-06-2026.pdf